.app {
    min-height: 100vh;
    background-color: #e0f2fe;
    color: #44403c;
    padding-top: 130px;
    padding-bottom: 70px;
}

@media (max-width: 700px) {
    .app {
        padding-top: 80px;
    }
}